#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  box-shadow: 0 0 50px rgba(26, 67, 75, 0.822);
}

button:hover {
  transform: scale(1.6) translate(0.8rem, 0.8rem);
}